/***************************************************************/
/* BASE */
/***************************************************************/

#menu>ul>li>a {
  font-size: 1em;
}

#Top_bar #logo img {
  max-height: 120%;
}

.top_bar_left {
  height: 6.5em;
}

.menu_wrapper {
  margin-top: 0.5em;
}

.is-sticky .menu_wrapper {
  margin: 0;
}

#contactWrapper h3 {
  margin: 5%;
  color: white;
  margin-left: 33%;
}

div > p {
  text-align: justify;
}

.carousel-but {
  left: 27rem;
  padding-bottom: 2em;
}

.menu-home{
  margin-left: 6em;
}

.menu-home .column {
  padding: 2em;
  padding-bottom: 5em;
}

.carousel-brand-container {
  margin-left: 9em;
}

.con-box {
  padding: 5em;
}

#Subheader {
  height: 10em;
}

#Subheader .container {
  top: 3.5em;
}

.copyright {
  margin-left: 25em;
}

.txt-scroll {
  height: 23em;
  overflow-x: hidden;
  overflow-y: scroll;    
  padding-right: 0.5em;
}

.menu-home ul:hover a {
  opacity: 0.5;
}

.menu-home:hover ul:hover a:hover {
  opacity: 1;
}

.shake:hover {
  animation: shake 0.82s cubic-bezier(.036,.007,.019,.097) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-.1px, 0, 0);
  }
  20%, 90% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-.4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fall-down {
  animation: fall-down .3s linear forwards;
}

@keyframes fall-down {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bounce {
  transform-origin: bottom;
  animation: bounce 2s ease alternate;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
/***************************************************************/
/* Banner Slider */
/***************************************************************/

#slideshow { 
    position: relative; 
    z-index: 1;
}

#slideshow > div { 
    position: absolute; 
}

.slider-container {
  width: 100%;
  height: 800px;
}

#slideshow img {
  width: 100%;
  height: 800px;
}

.slide-txt-1 {
  top: 7.5em;
  left: 3em;
  position: absolute; 
  z-index: 7; 
  white-space: nowrap; 
  font-size: 60px; 
  line-height: 60px; 
  font-weight: 400; 
  color: #fff; 
  letter-spacing: 0px;
}

.slide-txt-2 {
  top: 24em;
  left: 7.5em;
  position: absolute; 
  z-index: 7; 
  white-space: 
  nowrap; 
  font-size: 25px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #fff; 
  letter-spacing: 0px;
}

.slide-but {
  top: 55em;
  left: 17.5em;
  height: 5em;
  width: 12em;
  text-align: center;
  padding: 0.65em;
  padding-top: 1.5em;
  position: absolute; 
  z-index: 8; 
  white-space: nowrap; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 700; 
  color: rgba(255,255,255,1); 
  background-color:rgb(87,176,70);
  border-color:rgba(0,0,0,1);
  border-radius:30px 30px 30px 30px;
  outline:none;
  box-shadow:none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor:pointer;
  text-decoration: none;
}

.slide-but span {
  top: 5em;
  font-size: 1.5em;
}

.slider-container .slider-txt {
  position: relative;
  z-index: 10;
  top: 25em;
  left: 23em;
}

.slider-container .slider-txt h5 {
  margin-left: 1.5em;
}

.parallax {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}

.background {
  transform: translateZ(0px);
}

.foreground {
  transform-origin: 0;
  transform: translateZ(3px) scale(0.625)
}
/***************************************************************/
/* Photo Grid */
/***************************************************************/
.grid-container {
  width: 100%;
}

.photo_gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 0.5em;
}

.gallery_img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover;
  display: block;
  transition: all 2s ease;
}

.gallery_img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.gallery_item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery_item-2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.gallery_item-3 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}

.gallery_item-4 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 3;
}

.gallery_item-5 {
  grid-column: 1 / span 2;
  grid-row: 6 / span 3;
}

.gallery_item-6 {
  grid-column: 3 / span 2;
  grid-row: 6 / span 3;
}

.gallery_item-7 {
  grid-column: 5 / span 4;
  grid-row: 6 / span 3;
}

/***************************************************************/
/* Scroll Bar */
/***************************************************************/

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: blue;
}


/***************************************************************/
/* Video config */
/***************************************************************/

#videoss a {
   display: block;
   cursor: pointer;
   text-decoration: none;
   outline: 0;
}

#videoss a:hover {
   opacity: 0.7;
}


#overlayy {
   background: rgba(0,0,0,0.8);
   position:fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 99999;
   display: none;
}

#overlayy .modall {
   border-radius: 5px;
   width: 90%;
   margin: auto;
   max-width: 800px;
   min-height: 100px;
   position: relative;
   padding: 30px 20px 15px;
   overflow: hidden;
   top: 6em;
}

#overlayy .modall #closee {
   position: absolute;
   top: 5px;
   bottom: 5px;
   right: 5px;
   cursor: pointer;
   color: black;
   background: red;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   text-align: center;
}

#overlayy iframe {
   width: 100%;
}
/***************************************************************/
/* Photo Swiper */
/***************************************************************/

.swipeView {
  display: none;
  grid-template-columns: repeat(4, 100%);
  will-change: transform;
  align-content: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.swipe-img {
  max-width: 100%!important;
  scroll-snap-align: start;
}


/***************************************************************/
/* Brands Popup */
/***************************************************************/

#bPop-1, #bPop-2, #bPop-3, #bPop-4, #bPop-5, #bPop-6, #bPop-7, #bPop-8, #bPop-9, 
#bPop-10, #bPop-11, #bPop-12, #bPop-13, #bPop-14, #bPop-15, #bPop-16, #bPop-17,
#bPop-18, #bPop-19, #bPop-20, #bPop-21, #bPop-22, #bPop-23, #bPop-24, #bPop-25, 
#bPop-26, #bPop-27, #bPop-28, #bPop-29, #bPop-30, #bPop-31, #bPop-32,#bPop-33, 
#bPop-34, #bPop-35, #bPop-36, #bPop-37, #bPop-38, #bPop-39, #bPop-40, #bPop-41, #bPop-42{
   width: 100%;
   height: 100%;
   opacity: 95%;
   top: 0;
   left: 0;
   display: none;
   position: fixed;
   z-index: 7;
   background-color: #313131;
   overflow: auto;
   -webkit-animation: fadeIn 0.75s;
}

#bPopup {
   position: absolute;
   left: 18%;
   top: 22%;
}

#bPopup .l-box-img{
  margin: 8% 2%;
}

.img.scale-with-grid, #Content img {
  max-width: 90%;
}

#bPopup .r-box{
  height: 36.45em;
}

#bPopup .r-box-txt {
  margin-top: 1.95em;
}

#bPop-2 .r-box-txt {
  margin-top: -2.05em;
}

#bPop-5 .r-box {
  height: 37.85em;
}

#bPop-5 .r-box-txt {
  margin-top: 0.05em;
} 

#bPop-6 .r-box {
  height: 37.75em;
}

#bPop-6 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-7 .r-box {
  height: 39.40em;
}

#bPop-7 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-8 .r-box {
  height: 39.45em;
}

#bPop-8 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-9 .r-box {
  height: 41.1em;
}

#bPop-9 .l-box-txt {
  height: 17.9em;
}

#bPop-9 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-10 .r-box {
  height: 39.40em;
}

#bPop-10 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-11 .r-box {
  height: 39.40em;
}

#bPop-11 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-12 .r-box {
  height: 39.40em;
}

#bPop-12 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-13 .r-box {
  height: 39.40em;
}

#bPop-13 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-14 .r-box {
  height: 39.40em;
}

#bPop-14 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-15 .r-box {
  height: 39.40em;
}

#bPop-15 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-16 .r-box {
  height: 39.40em;
}

#bPop-16 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-17 .r-box {
  height: 42.6em;
}

#bPop-17 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-18 .r-box {
  height: 36.20em;
}

#bPop-18 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-19 .r-box {
  height: 42.6em;
}

#bPop-19 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-20 .r-box {
  height: 43.50em;
}

#bPop-20 .r-box-txt{
  margin-top: 0.05em;
}
#bPop-21 .r-box {
  height: 37.85em;
}

#bPop-21 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-22 .r-box {
  height: 33.10em;
}

#bPop-22 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-23 .r-box {
  height: 43.50em;
}

#bPop-23 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-24 .r-box {
  height: 43.50em;
}

#bPop-24 .l-box-txt {
  height: 20.35em;
}

#bPop-24 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-25 .r-box {
  height: 37.85em;
}

#bPop-25 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-26 .r-box {
  height: 38.65em;
}

#bPop-26 .l-box-txt {
  height: 15.5em;
}

#bPop-26 .r-box-txt{
  margin-top: 0.07em;
}

#bPop-27 .r-box {
  height: 33.1em;
}

#bPop-27 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-28 .r-box {
  height: 37.85em;
}

#bPop-28 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-29 .r-box {
  height: 39.45em;
}

#bPop-29 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-30 .r-box {
  height: 41.01em;
}

#bPop-30 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-31 .r-box {
  height: 33.05em;
}

#bPop-31 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-32 .r-box {
  height: 33.05em;
}

#bPop-32 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-33 .r-box {
  height: 33.05em;
}

#bPop-33 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-34 .r-box {
  height: 36.25em;
}

#bPop-34 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-35 .r-box {
  height: 39.45em;
}

#bPop-35 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-36 .r-box {
  height: 39.45em;
}

#bPop-36 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-37 .r-box {
  height: 33.05em;
}

#bPop-37 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-38 .r-box {
  height: 39.45em;
}

#bPop-38 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-39 .r-box {
  height: 33.05em;
}

#bPop-39 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-40 .r-box {
  height: 33.05em;
}

#bPop-40 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-41 .r-box {
  height: 36.25em;
}

#bPop-41 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-42 .r-box {
  height: 37.8em;
}

#bPop-42 .r-box-txt{
  margin-top: 0.05em;
}

/***************************************************************/
/* Brands Portfolio */
/***************************************************************/

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
  background: #fff;
  max-width: 66.5em; 
  margin-left: 3.5em;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

#filters li span:hover {
  color: #003daf;
}

#filters li span.active {
  background: #87ceec;
  color: blue;}

#portfoliolist .portfolio {
  width: 23%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio:hover img {
  top: -30px;
}

select#dropdown {
  display: none;
}

#dropdown option {
  background: #fff;
  color: blue;
}


select#dropdown {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin-left: 4em;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select#dropdown {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select#dropdown:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 10px) 1em,
    calc(100% - 15px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  #portfoliolist .portfolio {
    width: 48%;
    margin: 1%;
  }
  #ads {
    display: none;
  }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  #ads {
    display: none;
  }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/***************************************************************/
/* Responsive */
/***************************************************************/

/* Mobile */

@media only screen and (max-width: 480px) {
  .squares-mob {
    left: -5em;
  }

  .carousel-brand-container {
    margin-left: 0;
  }

  .w3-content > .mySlides {
    padding-left: 1.5em;
  }

  .slider-container {
    width: 100%;
    height: 600px;
  }

  #slideshow img {
    object-fit: cover;
    width: 480px;
    height: 600px;
  }

  .slide-txt-1 {
    top: 15.5em;
    left: 0.75em;
    font-size: 28px;
    line-height: 40px;
  }

  .slide-txt-2 {
    top: 35em;
    left: 1.5em;
    font-size: 15px;
    line-height: 22px;
  } 

  .slide-but {
    top: 48em;
    left: 2.5em;
  }

  .w3-content {
    display: none;
  }
  .swipeView {
    display: inline-grid;
  }

 /* Brands pop */   
 
  #bPopup {
    top: 0;
    left: 9%;
  }

  #bPopup .r-box-txt {
    margin-top: 0;
    padding: 0 10% 50px!important;
  }  

  #bPop-1 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-5 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-6 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-7 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-8 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-9 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-10 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-11 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-12 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-13 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-14 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-15 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-16 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-17 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-19 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-21 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-24 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-25 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-26 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-28 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-29 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-30 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-34 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-35 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-36 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-37 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-38 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-41 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-42 .pad-lbox{
    padding: 0 11% 0!important;
  }

}

/* Normal screen */

@media only screen and (max-width: 1024px) {
  #filters {
    display: none; 
  }

  select#dropdown {
    display: inline-block;
    margin-left: 4em;
  }
}

/* High-Res*/

@media only screen and (min-width: 1367px) {
  #bPop-1 .r-box {
    height: 34.8em;
  }

  #bPop-2 .l-box-txt {
    padding-bottom: 2.5em;
  }
  #bPop-2 .r-box {
    height: 37.3em;
  }

  #bPop-4 .l-box-txt {
    padding-bottom: 1.65em;
  }

  #bPop-5 .pad-lbox {
    margin-bottom: -0.2em;
  }

  #bPop-6 .pad-lbox {
    margin-bottom: -0.3em;
  }

  #bPop-7 .pad-lbox {
    margin-bottom: -0.3em;
  }

  #bPop-8 .pad-lbox {
    margin-bottom: -2.7em;
  }
  #bPop-8 .r-box {
    height: 35.35em;
  }

  #bPop-10 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-10 .r-box {
    margin-bottom: 0;
  }

  #bPop-11 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-11 .r-box {
    margin-bottom: 0;
  }

  #bPop-12 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-12 .r-box {
    margin-bottom: 0;
  }

  #bPop-13 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-13 .r-box {
    margin-bottom: 0;
  }

  #bPop-14 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-14 .r-box {
    margin-bottom: 0;
  }

  #bPop-15 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-15 .r-box {
    margin-bottom: 0;
  }

  #bPop-16 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-16 .r-box {
    margin-bottom: 0;
  }

  #bPop-17 .pad-lbox {
    margin-bottom: -1.2em;
  }
  #bPop-17 .r-box {
    margin-bottom: 0;
  }

  #bPop-19 .pad-lbox {
    margin-bottom: -1.2em;
  }
  #bPop-19 .r-box {
    margin-bottom: 0;
  }

  #bPop-20 .pad-lbox {
    margin-bottom: 2.15em;
  }

  #bPop-21 .pad-lbox {
    margin-bottom: -0.2em;
  }

  #bPop-23 .r-box {
    height: 43.9em;
  }

  #bPop-25 .pad-lbox {
    margin-bottom: -1.1em;
  }
  #bPop-25 .r-box {
    margin-bottom: 0;
  }

  #bPop-26 .l-box-txt {
    height: 15.45em;  
  }

  #bPop-28 .pad-lbox {
    margin-bottom: -2em;
  }
  #bPop-28 .r-box {
    height: 36.1em;
  }

  #bPop-29 .pad-lbox {
    height: 12em;  
  }
  #bPop-29 .r-box {
    height: 37.25em;
  }

  #bPop-30 .pad-lbox {
    height: 12em;  
  }
  #bPop-30 .r-box {
    height: 37.25em;
  }

  #bPop-34 .pad-lbox {
    height: 9em;  
  }
  #bPop-34 .r-box {
    height: 34.25em;
  }

  #bPop-35 .pad-lbox {
    height: 12em;  
  }
  #bPop-35 .r-box {
    height: 37.25em;
  }

  #bPop-36 .pad-lbox {
    height: 10em;  
  }
  #bPop-36 .r-box {
    height: 35.25em;
  }

  #bPop-37 .r-box {
    height: 41.3em;
  }

  #bPop-38 .pad-lbox {
    height: 10em;  
  }
  #bPop-38 .r-box {
    height: 35.25em;
  }

  #bPop-41 .pad-lbox {
    height: 8em;  
  }
  #bPop-41 .r-box {
    height: 33.25em;
  }

  #bPop-42 .pad-lbox {
    height: 10em;  
  }
  #bPop-42 .r-box {
    height: 35.25em;
  }

}

/* Mid-Res 1440 */
@media only screen and (min-width: 1440px) {
  #bPopup {
    top: 20%;
    left: 8%;
  }

}

/* High-Res 1920 */
@media only screen and (min-width: 1920px) {
  #bPopup {
    top: 25%;
    left: 18%;
  }

  #bPop-20 #bPopup, #bPop-23 #bPopup {
    top: 17%;
    left: 18%;
  }

}
