/***************************************************************/
/* BASE */
/***************************************************************/

#menu>ul>li>a {
  font-size: 1em;
}

#Top_bar #logo img {
  max-height: 120%;
}

.top_bar_left {
  height: 6.5em;
}

.menu_wrapper {
  margin-top: 0.5em;
}

.is-sticky .menu_wrapper {
  margin: 0;
}

#contactWrapper h3 {
  margin: 5%;
  color: white;
  margin-left: 33%;
}

div > p {
  text-align: justify;
}

.carousel-but {
  left: 27rem;
}

.menu-home{
  margin-left: 6em;
}

.menu-home .column {
  padding: 2em;
  padding-bottom: 5em;
}

.carousel-brand-container {
  margin-left: 9em;
}

.con-box {
  padding: 5em;
}

#slideshow { 
    position: relative; 
    z-index: 1;
}

#slideshow > div { 
    position: absolute; 
}

.slider-container {
  width: 100%;
  height: 858px;
}

.slide-txt-1 {
  top: 7em;
  left: 3em;
}

.slide-txt-2 {
  top: 24em;
  left: 7.5em;
}

.slide-but {
  top: 55em;
  left: 17.5em;
  height: 3em;
  width: 7em;
  text-align: center;
  padding: 0.65em;
}

.slide-but span {
  top: 1em;
}

#Subheader {
  height: 10em;
}

#Subheader .container {
  top: 3.5em;
}

.slider-container .slider-txt {
  position: relative;
  z-index: 10;
  top: 25em;
  left: 23em;
}

.slider-container .slider-txt h5 {
  margin-left: 1.5em;
}

.parallax {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}

.background {
  transform: translateZ(0px);
}

.foreground {
  transform-origin: 0;
  transform: translateZ(3px) scale(0.625)
}
/***************************************************************/
/* Photo Slider */
/***************************************************************/

.w3-content {
  max-width: 980px;
}

.w3-content > .mySlides{
  padding-left: 3.5em;
  transition: all 0.2s ease-in-out;

}
.w3-row-padding:after, .w3-row-padding:before{
  content: "";
  display: table;
  clear: both; 
  padding: 0 8px;
}

.w3-opacity,.w3-hover-opacity:hover {
  opacity:0.60;
}
.w3-opacity-off,.w3-hover-opacity-off:hover{
  opacity: 1;
}

.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.scroll-auto {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: blue;
}

.w3-col {
  float: left;
  width: 100%;
}

.s4 {
  width: 33.33333%;
}

/***************************************************************/
/* Video config */
/***************************************************************/

#videoss a {
   display: block;
   cursor: pointer;
   text-decoration: none;
   outline: 0;
}

#videoss a:hover {
   opacity: 0.7;
}


#overlayy {
   background: rgba(0,0,0,0.8);
   position:fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 99999;
   display: none;
}

#overlayy .modall {
   border-radius: 5px;
   width: 90%;
   margin: auto;
   max-width: 800px;
   min-height: 100px;
   position: relative;
   padding: 30px 20px 15px;
   overflow: hidden;
   top: 6em;
}

#overlayy .modall #closee {
   position: absolute;
   top: 5px;
   bottom: 5px;
   right: 5px;
   cursor: pointer;
   color: black;
   background: red;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   text-align: center;
}

#overlayy iframe {
   width: 100%;
}
/***************************************************************/
/* Brands Popup */
/***************************************************************/

#bPop-1, #bPop-2, #bPop-3, #bPop-4, #bPop-5, #bPop-6, #bPop-7, #bPop-8, #bPop-9, 
#bPop-10, #bPop-11, #bPop-12, #bPop-13, #bPop-14, #bPop-15, #bPop-16, #bPop-17,
#bPop-18, #bPop-19, #bPop-20, #bPop-21, #bPop-22, #bPop-23, #bPop-24, #bPop-25, 
#bPop-26, #bPop-27, #bPop-28, #bPop-29, #bPop-30, #bPop-31, #bPop-32,#bPop-33, 
#bPop-34, #bPop-35, #bPop-36, #bPop-37, #bPop-38, #bPop-39, #bPop-40, #bPop-41, #bPop-42{
   width: 100%;
   height: 100%;
   opacity: 95%;
   top: 0;
   left: 0;
   display: none;
   position: fixed;
   z-index: 7;
   background-color: #313131;
   overflow: auto;
   -webkit-animation: fadeIn 0.75s;
}

#bPopup {
   position: absolute;
   left: 18%;
   top: 22%;
}

#bPopup .l-box-img{
  margin: 8% 2%;
}

.img.scale-with-grid, #Content img {
  max-width: 90%;
}

#bPopup .r-box{
  height: 36.45em;
}

#bPopup .r-box-txt {
  margin-top: 1.95em;
}

#bPop-2 .r-box-txt {
  margin-top: -2.05em;
}

#bPop-5 .r-box {
  height: 37.85em;
}

#bPop-5 .r-box-txt {
  margin-top: 0.05em;
} 

#bPop-6 .r-box {
  height: 37.75em;
}

#bPop-6 .r-box-txt{
  margin-top: 0.05em;
}

/***************************************************************/
/* Animated Banner */
/***************************************************************/

 
#container-banner {
 width: 100%;
 overflow: hidden;
 margin: 50px auto;
 background: white;
}

/*photobanner*/
 
.photobanner {
 height: 233px;
 width: 350px;
 margin-bottom: 80px;
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 60s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 80px;
}
 
.photobanner img {
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 5s ease;
}
 
.photobanner img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
 cursor: pointer;
 
 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/***************************************************************/
/* Brands Portfolio */
/***************************************************************/

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

#filters li span:hover {
  color: #003daf;
}

#filters li span.active {
  background: #ededed;
  color: #333;
}

#portfoliolist .portfolio {
  width: 23%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio:hover img {
  top: -30px;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  #portfoliolist .portfolio {
    width: 48%;
    margin: 1%;
  }
  #ads {
    display: none;
  }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  #ads {
    display: none;
  }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
