/***************************************************************/
/* BASE */
/***************************************************************/

#menu>ul>li>a {
  font-size: 1em;
}

#Top_bar #logo img {
  max-height: 120%;
}

.top_bar_left {
  height: 6.5em;
}

.menu_wrapper {
  margin-top: 0.5em;
}

.is-sticky .menu_wrapper {
  margin: 0;
}

#contactWrapper h3 {
  margin: 5%;
  color: white;
  margin-left: 33%;
}

div > p {
  text-align: justify;
}

/***************************************************************/
/* Brands Popup */
/***************************************************************/

#bPop-1, #bPop-2, #bPop-3, #bPop-4, #bPop-5, #bPop-6, #bPop-7, #bPop-8, #bPop-9, 
#bPop-10, #bPop-11, #bPop-12, #bPop-13, #bPop-14, #bPop-15, #bPop-16, #bPop-17,
#bPop-18, #bPop-19, #bPop-20, #bPop-21, #bPop-22, #bPop-23, #bPop-24, #bPop-25, 
#bPop-26, #bPop-27, #bPop-28, #bPop-29, #bPop-30, #bPop-31, #bPop-32,#bPop-33, 
#bPop-34, #bPop-35, #bPop-36, #bPop-37, #bPop-38, #bPop-39, #bPop-40, #bPop-41, #bPop-42{
   width: 100%;
   height: 100%;
   opacity: 95%;
   top: 0;
   left: 0;
   display: none;
   position: fixed;
   z-index: 7;
   background-color: #313131;
   overflow: auto;
   -webkit-animation: fadeIn 0.75s;
}

#bPopup {
   position: absolute;
   left: 18%;
   top: 22%;
}

#bPopup .l-box-img{
  margin: 8% 2%;
}

.img.scale-with-grid, #Content img {
    max-width: 90%;
}

#bPopup .r-box{
   height: 36.45em;
}

#bPopup .r-box-txt {
  margin-top: 1.95em;
}

#bPop-2 .r-box-txt {
    margin-top: -2.05em;
}

/***************************************************************/
/* Brands Portfolio */
/***************************************************************/

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

#filters li span:hover {
  color: #003daf;
}

#filters li span.active {
  background: #ededed;
  color: #333;
}

#portfoliolist .portfolio {
  width: 23%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio:hover img {
  top: -30px;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  #portfoliolist .portfolio {
    width: 48%;
    margin: 1%;
  }
  #ads {
    display: none;
  }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  #ads {
    display: none;
  }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
