/***************************************************************/
/* BASE */
/***************************************************************/

#menu>ul>li>a {
  font-size: 1em;
}

#Top_bar #logo img {
  max-height: 120%;
}

.top_bar_left {
  height: 6.5em;
}

.menu_wrapper {
  margin-top: 0.5em;
}

.is-sticky .menu_wrapper {
  margin: 0;
}

#contactWrapper h3 {
  margin: 5%;
  color: white;
  margin-left: 33%;
}

div > p {
  text-align: justify;
}

.carousel-but {
  left: 27rem;
  padding-bottom: 2em;
}

.menu-home{
  margin-left: 10em;
}

.menu-home .column {
  padding: 2em;
  padding-bottom: 5em;
}

.menu-home h4 {
  padding: 1em;
}

.menu-home ul li:first-child h4 {
  padding-left: 0.7em;
}

.menu-home ul li:nth-child(2) h4 {
  margin-left: -2em;
}

.menu-home ul li:last-child h4 {
  margin-left: -0.6em;
}

.carousel-brand-container {
  margin-left: 9em;
}

.con-box {
  padding: 5em;
}

#Subheader {
  height: 10em;
}

#Subheader .container {
  top: 3.5em;
}

.icon-sn img{
  float: left;
}

.icon-sn a:last-child img {
  padding-left: 1em;
}

.one-fourth {
  animation: fall-down .3s linear forwards;
}

.copyright {
  margin-left: 20em;
}

.footer_copy {
  background-color: #0052ae!important;
  color: white;
}

.icon-up-open-big {
    color: white;
}

.icon-sn div a img:hover {
  animation: shake 0.82s cubic-bezier(.036,.007,.019,.097) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1px;
}

.txt-scroll {
  height: 23em;
  overflow-x: hidden;
  overflow-y: scroll;    
  padding-right: 0.5em;
}

.menu-home img {
  width: 10em;
}

.menu-home ul:hover a {
  opacity: 0.5;
}

.menu-home:hover ul:hover a:hover {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.menu-home .bounce {
  animation-delay: 0.5s; 
}

a.button .button_icon i {
    color: #fbfbfb;
}

#Footer .widgets_wrapper {
  padding-bottom: 80px!important;
}

#Footer .container div:nth-of-type(2) img {
  padding-top: 4em;
  margin-left: -7em;
}

.desc_wrapper .title {
  text-align: center;
 }

.one-third .column_attr.clearfix {
  text-align: center;
 }

.column.one.column_column .column_attr h2 {
  text-align: center;
}

.section_wrapper.mcb-section-inner blockquote {
  top: 20vh;
  left: 40vw;
}


.section_wrapper.mcb-section-inner blockquote:last-child {
  top: 0;
  left: 0;
}

.section_wrapper.mcb-section-inner blockquote footer {
  margin-left: 54vw;
}

.column.one-third .column_attr p b {
  font-size: 2em;
}


.mcb-wrap-inner .one-fourth .column_attr {
  width: 20vw;
}

.scale-with-grid[src*="images/home_company_contact1.png"]{
  margin-left: 4vh;
}

.alert-success {
  margin-left: 10vw;
}
#contactWrapper form div:nth-of-type(1), #contactWrapper form div:nth-of-type(2) {
    margin-top: -1vh;
}

.hover_color .hover_color_bg {
  border-radius: 50%;
  width: 80%;
  margin-left: 2vw;
  background-color: #0052ae!important;
}

.hover_color .hover_color_bg h4 {
  color: white;
}
.hover_color .hover_color_bg:hover h4 {
  color: #0052ae;
}


.fall-down .column_hover_color:nth-child(even) img {
  margin-left: 1vw;
}

/*Animation*/

.shake:hover {
  animation: shake 0.82s cubic-bezier(.036,.007,.019,.097) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-.1px, 0, 0);
  }
  20%, 90% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-.4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fall-down {
  animation: fall-down .3s linear forwards;
}

@keyframes fall-down {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bounce {
  transform-origin: bottom;
  animation: bounce 2s ease alternate;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}


.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

.ml16 {
  color: #402d2d;
  padding: 8vh 0;
  font-weight: 1000;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
}
.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

/***************************************************************/
/* Banner Slider */
/***************************************************************/
.slider-container {
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.slider-container:after {
  display: block;
  clear: both;
  overflow: hidden;
}

.slid-con {
  min-height: 123vh;
  background-color: #f4f7fc;
}

#slideshow { 
    position: relative; 
    z-index: 1;
    height: 0;
    padding-top: calc(858 / 1920 * 100%)
}

#slideshow > div { 
    position: absolute; 
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

#banner-txt {
  top: 335px;
  z-index: 7; 
  position: absolute; 
  left: 12.2em;
}

#slideshow img {
  max-width: 100%;
  height: auto;
}

.slide-txt-top {
  top: 250px;
  left: 20em;
  position: absolute; 
  z-index: 7; 
  white-space: nowrap; 
  font-size: 10px; 
  line-height: 60px; 
  font-weight: 400; 
  letter-spacing: 0px;
}


.slide-txt-1 {
  white-space: nowrap; 
  font-size: 86px; 
  line-height: 20px; 
  font-weight: 400; 
  letter-spacing: 0px;
  color: #fff!important; 
}

.slide-txt-2 {
  white-space: nowrap; 
  font-size: 30px; 
  line-height: 22px; 
  font-weight: 400; 
  letter-spacing: 0px;
  color: #fff!important; 
  padding-top: 2em;
}

.slide-txt-top h1 {
  color: #fff!important; 
}

.slide-but {
  top: 65vh;
  left: 17.5em;
  height: 5em;
  width: 12em;
  text-align: center;
  padding: 0.65em;
  padding-top: 1.5em;
  position: absolute; 
  z-index: 8; 
  white-space: nowrap; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 700; 
  color: rgba(255,255,255,1); 
  background-color:rgb(87,176,70);
  border-color:rgba(0,0,0,1);
  border-radius:30px 30px 30px 30px;
  outline:none;
  box-shadow:none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor:pointer;
  text-decoration: none;
}

.slide-but span {
  top: 5em;
  font-size: 1.5em;
}

.slider-container .slider-txt {
  position: relative;
  z-index: 10;
  top: 25em;
  left: 23em;
}

.slider-container .slider-txt h5 {
  margin-left: 1.5em;
}


/***************************************************************/
/* Photo Grid */
/***************************************************************/
.grid-container {
  width: 100%;
}

.photo_gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 0.5em;
}

.gallery_img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover;
  display: block;
  transition: all 2s ease;
}

.gallery_img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.gallery_item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery_item-2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.gallery_item-3 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}

.gallery_item-4 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 3;
}

.gallery_item-5 {
  grid-column: 1 / span 2;
  grid-row: 6 / span 3;
}

.gallery_item-6 {
  grid-column: 3 / span 2;
  grid-row: 6 / span 3;
}

.gallery_item-7 {
  grid-column: 5 / span 4;
  grid-row: 6 / span 3;
}

/***************************************************************/
/* Scroll Bar */
/***************************************************************/

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: #0052ae;
}


/***************************************************************/
/* Video config */
/***************************************************************/

#videoss a {
   display: block;
   cursor: pointer;
   text-decoration: none;
   outline: 0;
}

#videoss a:hover {
   opacity: 0.7;
}


#overlayy {
   background: rgba(0,0,0,0.8);
   position:fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 99999;
   display: none;
}

#overlayy .modall {
   border-radius: 5px;
   width: 90%;
   margin: auto;
   max-width: 800px;
   min-height: 100px;
   position: relative;
   padding: 30px 20px 15px;
   overflow: hidden;
   top: 6em;
}

#overlayy .modall #closee {
   position: absolute;
   top: 5px;
   bottom: 5px;
   right: 5px;
   cursor: pointer;
   color: black;
   background: red;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   text-align: center;
}

#overlayy iframe {
   width: 100%;
}

/***************************************************************/
/* Brands Popup */
/***************************************************************/

#bPop-1, #bPop-2, #bPop-3, #bPop-4, #bPop-5, #bPop-6, #bPop-7, #bPop-8, #bPop-9, 
#bPop-10, #bPop-11, #bPop-12, #bPop-13, #bPop-14, #bPop-15, #bPop-16, #bPop-17,
#bPop-18, #bPop-19, #bPop-20, #bPop-21, #bPop-22, #bPop-23, #bPop-24, #bPop-25, 
#bPop-26, #bPop-27, #bPop-28, #bPop-29, #bPop-30, #bPop-31, #bPop-32,#bPop-33, 
#bPop-34, #bPop-35, #bPop-36, #bPop-37, #bPop-38, #bPop-39, #bPop-40, #bPop-41, 
#bPop-42, #bPop-43, #bPop-44, #bPop-45, #bPop-46 {
   width: 100%;
   height: 100%;
   opacity: 95%;
   top: 0;
   left: 0;
   display: none;
   position: fixed;
   z-index: 7;
   background-color: #313131;
   overflow: auto;
   -webkit-animation: fadeIn 0.75s;
}

#bPopup {
   position: absolute;
   left: 18%;
   top: 22%;
}

#bPopup .l-box-img{
  margin: 8% 2%;
}

.img.scale-with-grid, #Content img {
  max-width: 90%;
}

#bPopup .r-box{
  height: 36.45em;
}

#bPopup .r-box-txt {
  margin-top: 1.95em;
}

#bPop-1 ul.list_check li, #bPop-2 ul.list_check li, #bPop-3 ul.list_check li, 
#bPop-4 ul.list_check li, #bPop-5 ul.list_check li, #bPop-6 ul.list_check li, 
#bPop-8 ul.list_check li, #bPop-28 ul.list_check li, #bPop-34 ul.list_check li,
#bPop-36 ul.list_check li {
  background: url(../images/icon-alimentos.png) no-repeat 20px 6px; 
  background-size: 2em 2em;
  background-position: 0.3em;
}

#bPop-7 ul.list_check li, #bPop-10 ul.list_check li, #bPop-11 ul.list_check li, 
#bPop-12 ul.list_check li, #bPop-13 ul.list_check li, #bPop-14 ul.list_check li,
#bPop-15 ul.list_check li, #bPop-16 ul.list_check li, #bPop-20 ul.list_check li, 
#bPop-23 ul.list_check li, #bPop-25 ul.list_check li, #bPop-29 ul.list_check li,
#bPop-32 ul.list_check li, #bPop-39 ul.list_check li, #bPop-44 ul.list_check li, 
#bPop-41 ul.list_check li, #bPop-46 ul.list_check li {
  background: url(../images/icon-limpieza.png) no-repeat 20px 6px; 
  background-size: 2em 1.9em;
  background-position: 0.3em -0.2em;
}

#bPop-9 ul.list_check li, #bPop-24 ul.list_check li {
  background: url(../images/icon-auto.png) no-repeat 20px 6px; 
  background-size: 2em 3em;
  background-position: 0.3em;
}

#bPop-30 ul.list_check li, #bPop-35 ul.list_check li, #bPop-37 ul.list_check li,
#bPop-43 ul.list_check li, #bPop-45 ul.list_check li {
  background: url(../images/icon-dulces.png) no-repeat 20px 6px; 
  background-size: 2em 2em;
  background-position: 0.3em;
}

#bPop-21 ul.list_check li, #bPop-33 ul.list_check li {
  background: url(../images/icon-escolar.png) no-repeat 20px 6px; 
  background-size: 2em 1.9em;
  background-position: 0.3em;
}

#bPop-26 ul.list_check li, #bPop-42 ul.list_check li {
  background: url(../images/icon-mascotas.png) no-repeat 20px 6px; 
  background-size: 2em 2em;
  background-position: 0.3em;
}

#bPop-38 ul.list_check li {
  background: url(../images/icon-desechables.png) no-repeat 20px 6px; 
  background-size: 2em 2em;
  background-position: 0.3em;
}

#bPop-2 .r-box-txt {
  margin-top: -2.05em;
}

#bPop-5 .r-box {
  height: 37.85em;
}

#bPop-5 .r-box-txt {
  margin-top: 0.05em;
} 

#bPop-6 .r-box {
  height: 37.75em;
}

#bPop-6 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-7 .r-box {
  height: 39.40em;
}

#bPop-7 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-8 .r-box {
  height: 39.45em;
}

#bPop-8 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-9 .r-box {
  height: 41.1em;
}

#bPop-9 .l-box-txt {
  height: 17.9em;
}

#bPop-9 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-10 .r-box {
  height: 39.40em;
}

#bPop-10 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-11 .r-box {
  height: 39.40em;
}

#bPop-11 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-12 .r-box {
  height: 39.40em;
}

#bPop-12 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-13 .r-box {
  height: 39.40em;
}

#bPop-13 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-14 .r-box {
  height: 39.40em;
}

#bPop-14 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-15 .r-box {
  height: 39.40em;
}

#bPop-15 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-16 .r-box {
  height: 39.40em;
}

#bPop-16 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-17 .r-box {
  height: 42.6em;
}

#bPop-17 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-18 .r-box {
  height: 36.20em;
}

#bPop-18 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-19 .r-box {
  height: 42.6em;
}

#bPop-19 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-20 .r-box {
  height: 43.50em;
}

#bPop-20 .r-box-txt{
  margin-top: 0.05em;
}
#bPop-21 .r-box {
  height: 37.85em;
}

#bPop-21 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-22 .r-box {
  height: 33.10em;
}

#bPop-22 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-23 .r-box {
  height: 43.50em;
}

#bPop-23 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-24 .r-box {
  height: 43.50em;
}

#bPop-24 .l-box-txt {
  height: 20.35em;
}

#bPop-24 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-25 .r-box {
  height: 37.85em;
}

#bPop-25 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-26 .r-box {
  height: 38.65em;
}

#bPop-26 .l-box-txt {
  height: 15.5em;
}

#bPop-26 .r-box-txt{
  margin-top: 0.07em;
}

#bPop-27 .r-box {
  height: 33.1em;
}

#bPop-27 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-28 .r-box {
  height: 37.85em;
}

#bPop-28 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-29 .r-box {
  height: 39.45em;
}

#bPop-29 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-30 .r-box {
  height: 41.01em;
}

#bPop-30 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-31 .r-box {
  height: 33.05em;
}

#bPop-31 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-32 .r-box {
  height: 33.05em;
}

#bPop-32 .r-box-txt{
  margin-top: 0.05em;
}
#bPop-32 .pad-lbox {
  height: 22vh;
}

#bPop-33 .pad-lbox {
  height: 15.2vh;
}

#bPop-33 .r-box {
  height: 30em;
}

#bPop-33 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-34 .r-box {
  height: 36.25em;
}

#bPop-34 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-35 .r-box {
  height: 39.45em;
}

#bPop-35 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-36 .r-box {
  height: 39.45em;
}

#bPop-36 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-37 .r-box {
  height: 33.05em;
}

#bPop-37 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-38 .r-box {
  height: 39.45em;
}

#bPop-38 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-39 .pad-lbox {
  height: 18vh;
}
#bPop-39 .r-box {
  height: 31.25em;
}

#bPop-39 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-40 .r-box {
  height: 33.05em;
}

#bPop-40 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-41 .r-box {
  height: 36.25em;
}

#bPop-41 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-42 .r-box {
  height: 37.8em;
}

#bPop-42 .r-box-txt{
  margin-top: 0.05em;
}

#bPop-44 .pad-lbox {
  height: 29.5vh;
}

#bPop-45 .r-box {
  height: 77.3vh;
}

#bPop-46 .r-box {
  height: 68vh;
}

/***************************************************************/
/* Brands Portfolio */
/***************************************************************/

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
  background: #fff;
  max-width: 66.5em; 
  margin-left: 3.5em;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

#filters li span:hover {
  color: #003daf;
}

#filters li span.active {
  background: #87ceec;
  color: blue;}

#portfoliolist .portfolio {
  width: 23%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio:hover img {
  top: -30px;
}

select#dropdown {
  display: none;
}

#dropdown option {
  background: #fff;
  color: blue;
}


select#dropdown {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin-left: 4em;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select#dropdown {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select#dropdown:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 10px) 1em,
    calc(100% - 15px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  #portfoliolist .portfolio {
    width: 48%;
    margin: 1%;
  }
  #ads {
    display: none;
  }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  #ads {
    display: none;
  }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/***************************************************************/
/* Responsive */
/***************************************************************/

/* Low Res */

@media only screen and (max-width: 1280px) {
  .slide-txt-top {
    top: 25vh;
    left: 8vw;
    font-size: 7px;
  }
  #banner-txt {
    top: 38vh;
    left: 7vw;
  }
  .slide-txt-2 {
    line-height: 0px;
  }
  .slide-but {
    top: 55vh;
    left: 8vw;
  }

  .menu-home {
    margin-left: 12vw!important;
  }

  .carousel-brand-container {
      margin-left: 12vw!important;
  }
  .carousel-but {
      left: 35vw!important;
  }

  .section_wrapper.mcb-section-inner blockquote:nth-of-type(1) {
    left: 48vw!important;
  }
  .section_wrapper.mcb-section-inner blockquote footer {
    margin-left: 63vw!important;
  }

  #contactWrapper h3 b {
    margin-left: 5vw!important;
  }
  .alert.alert-success {
      margin-left: 11.5vw;
  }

  #bPopup .r-box {
    height: 77.3vh;
  }
  #bPopup .pad-lbox {
    height: 21.2vh;
  }

  #bPop-1 .pad-lbox {
    height: 17.7vh!important;
  }
  #bPop-1 .r-box {
    height: 71.1vh;
  }

  #bPop-3 .r-box {
    height: 80.9vh;
  }

  #bPop-5 .pad-lbox {
    height: 21.2vh;
  }

  #bPop-9 .l-box-txt {
    height: 28vh;
  }
  #bPop-9 .r-box {
    height: 79.5vh;
  }

  #bPop-17 .pad-lbox {
    height: 25.2vh;
  }
  #bPop-17 .r-box {
    height: 81.3vh;
  }

  #bPop-19 .pad-lbox {
    height: 25.2vh;
  }
  #bPop-19 .r-box {
    height: 81.3vh;
  }

  #bPop-20 .pad-lbox {
    height: 36.5vh;
  }
  #bPop-20 .r-box {
    height: 88vh;
  }

  #bPop-23 .pad-lbox {
    height: 36.5vh;
  }
  #bPop-23 .r-box {
    height: 88vh;
  }

  #bPop-24 .l-box-txt {
    height: 33vh;
  }
  #bPop-24 .r-box {
    height: 84.5vh;
  }

  #bPop-26 .l-box-txt {
      height: 25.8vh;
  }

  #bPop-32 .r-box {
    height: 72.7vh;
  }

  #bPop-33 .r-box {
    height: 72.7vh;
  }

  #bPop-39 .r-box {
    height: 72.7vh;
  }

  #bPop-44 .pad-lbox {
    height: 25.8vh;
  }

  #bPop-43 .pad-lbox {
    height: 25.8vh;
  }

  #bPop-46 .r-box {
    height: 68vh;
  }
}

/* Normal screen */

@media only screen and (max-width: 1024px) {
  #filters {
    display: none; 
  }

  select#dropdown {
    display: inline-block;
    margin-left: 32vw;
  }

}

/* Tablet screen */

@media only screen and (max-width: 768px) {
  .slider-container {
    width: 100%;
    height: 600px;
  }
  #slideshow img {
    object-fit: cover;
    height: 600px;
  }
  .slid-con {
    min-height: 70vh;
  }  
  .slide-txt-top {
    top: 32vh;
    font-size: 5px;
    left: 11em;
  }
  #banner-txt {
    top: 40vh;
  }
  .slide-txt-1 {
    font-size: 65px;
  }
  .slide-txt-2 {
    font-size: 20px;
  }
  .slide-but {
    top: 52vh;
  }

  .menu-home {
    margin-left: 2vw!important;
  }
  .fall-down .column_hover_color:nth-child(even) img {
    margin-left: 0;
  }
  .carousel-brand-container {
    margin-left: -7vw!important;
  }
  .carousel-item {
    width: 750px;
  }
  .carousel-but {
    left: 33vw!important;
  }

  .section_wrapper.mcb-section-inner blockquote:nth-of-type(1) {
    top: 15vh;
    left: 43vw!important;
  }
  .section_wrapper.mcb-section-inner blockquote footer {
    margin-left: 46vw!important;
  } 

  .ml16 {
    font-size: 1.25em;
  }

  select#dropdown {
    margin-left: 16em;
  }

  #contactWrapper h3 {
    margin-left: 24vw!important;
  }

  #Footer .container div:nth-of-type(2) img {
    margin-left: -4em;
  }
  .copyright {
    margin-left: 10em;
  }

  #bPopup {
    left: 4%;
    top: 10%;
  }

  #bPopup .r-box {
    height: 54.5vh;
  }
  #bPopup .pad-lbox {
    height: 23vh;
  }

  #bPop-1 .pad-lbox {
    height: 24vh!important;
  }
  #bPop-1 .r-box {
    height: 55.5vh;
  }

  #bPop-2 .pad-lbox {
    height: 38.8vh;
  }
  #bPop-2 .r-box {
    height: 67vh;
  }

  #bPop-3 .pad-lbox {
    height: 26vh;
  }

  #bPop-4 .pad-lbox {
    height: 29.8vh;
  }
  #bPop-4 .r-box {
    height: 58vh;
  }

  #bPop-5 .pad-lbox {
    height: 35.5vh;
  }
  #bPop-5 .r-box {
    height: 67vh;
  }

  #bPop-6 .pad-lbox {
    height: 26.5vh;
  }
  #bPop-6 .r-box {
    height: 58vh;
  }

  #bPop-7 .pad-lbox {
    height: 36.5vh;
  }
  #bPop-7 .r-box {
    height: 68vh;
  }

  #bPop-9 .l-box-txt {
    height: 46.7vh;
  }
  #bPop-9 .r-box {
    height: 74vh;
  }

  #bPop-14 .pad-lbox {
    height: 37.5vh;
  }
  #bPop-14 .r-box {
    height: 69vh;
  }

  #bPop-20 .pad-lbox {
    height: 49.6vh;
  }
  #bPop-20 .r-box {
    height: 77vh;
  }

  #bPop-23 .pad-lbox {
    height: 49.6vh;
  }
  #bPop-23 .r-box {
    height: 77vh;
  }

  #bPop-24 .l-box-txt {
    height: 42.6vh;
  }
  #bPop-24 .r-box {
    height: 70vh;
  }

  #bPop-26 .l-box-txt {
    height: 49.6vh;
  }
  #bPop-26 .r-box {
    height: 77vh;
  }

  #bPop-28 .pad-lbox {
    height: 36.5vh;
  }
  #bPop-28 .r-box {
    height: 68vh;
  }

  #bPop-29 .pad-lbox {
    height: 36.5vh;
  }
  #bPop-29 .r-box {
    height: 68vh;
  }

  #bPop-30 .pad-lbox {
    height: 27.5vh;
  }
  #bPop-30 .r-box {
    height: 59vh;
  }

  #bPop-32 .r-box {
    height: 50.4vh;
  }

  #bPop-33 .r-box {
    height: 50.4vh;
  }

  #bPop-35 .pad-lbox {
    height: 36.5vh;
  }
  #bPop-35 .r-box {
    height: 68vh;
  }

  #bPop-37 .pad-lbox {
    height: 45.5vh;
  }
  #bPop-37 .r-box {
    height: 77vh;
  }

  #bPop-39 .r-box {
    height: 50.4vh;
  }

  #bPop-44 .pad-lbox {
    height: 29.6vh;
  }
  #bPop-44 .r-box {
    height: 57vh;
  }

  #bPop-43 .r-box {
    height: 50.4vh;
  }

  #bPop-45 .pad-lbox {
    height: 34.6vh;
  }
  #bPop-45 .r-box {
    height: 62vh;
  }

  #bPop-46 .r-box {
    height: 50.4vh;
  }

}

/* Mobile */

@media only screen and (max-width: 480px) {
  .menu-home {
    margin-left: 11vw;
  }  
  .squares-mob {
    left: 5vh;
  }
  .menu-home ul li:first-child h4 {
    padding-left: 5vw;
  }
  .menu-home ul li:nth-child(2) h4 {
    margin-left: -3vw;
  }
  .menu-home ul li:last-child h4 {
    margin-left: 0.5vw;
  }

  .carousel-brand-container {
    margin-left: 2.5vw!important;
  }
  .carousel-but {
    left: 20vw!important;
  }
  .slider-container {
    width: 100%;
    height: 600px;
  }

  #slideshow img {
    object-fit: cover;
    object-position: 60% 40%;
    width: 480px;
    height: 600px;
  }

  #banner-txt{
    top: 43vh;
    left: 3em;
  }
    
  .slide-txt-top {
    top: 35vh;
    left: 8em;
    font-size: 5px!important;
  }
  .slide-txt-1 {
    top: 15.5em;
    font-size: 35px;
    line-height: 0;
  }
  .slide-txt-2 {
    top: 35em;
    font-size: 15px;
    line-height: 0;
  } 
  .slide-but {
    top: 50vh;
    left: 2.5em;
  }

  select#dropdown {
      margin-left: 4em;
  }
  .ml12 {
    font-size: 1.3em;
  }

  .equal-height-wrap div:nth-child(2) {
    padding: 5vh 0 0 0!important;
  }
  .section_wrapper.mcb-section-inner blockquote {
    top: 50vh;
    left: 0vw!important;
  }
  .section_wrapper.mcb-section-inner blockquote footer {
    margin-left: 9vw!important;
  }

  .mcb-wrap-inner .one-fourth .column_attr {
    width: 60vw;
  }

  #contactWrapper h3 {
    margin-left: 15vw!important;
  }
  #contactWrapper form div:nth-of-type(1), #contactWrapper form div:nth-of-type(2) {
    margin-top: 0;
  } 
  #Footer img.scale-with-grid {
    padding-top: 0em!important;
    margin-left: 0em!important;
  }
  
  .entry-content div:nth-child(3) .section_wrapper .wrap.mcb-wrap.one.valign-top.clearfix{
    left: 4vw;
  }

  .entry-content div:nth-child(3) .section_wrapper .wrap.mcb-wrap.one.valign-top.clearfix .mcb-wrap-inner div:nth-child(5) {
    padding-top: 2vh;
    margin-left: -7vw;
  }  

  .ml16 {
    letter-spacing: 0.08em;
  }

  /* Brands pop */   
 
  #bPopup {
    top: 0;
    left: 9%;
  }

  #bPopup .r-box-txt {
    margin-top: 0;
    padding: 0 10% 50px!important;
  }  

  #bPop-1 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-5 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-6 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-7 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-8 .pad-lbox {
    padding: 0 11% 0!important;
  }

  #bPop-9 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-10 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-11 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-12 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-13 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-14 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-15 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-16 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-17 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-19 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-21 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-24 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-25 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-26 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-28 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-29 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-30 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-34 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-35 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-36 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-37 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-38 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-41 .pad-lbox{
    padding: 0 11% 0!important;
  }

  #bPop-42 .pad-lbox{
    padding: 0 11% 0!important;
  }

}


@media only screen and (min-width: 1024px) {
  #bPopup {
    top: 12vh;
    left: 3%;
  }

  #bPop-1 .pad-lbox {
    height: 13em;  
  }
  #bPop-1 .r-box {
    height: 33.2em;
  }

  .menu-home {
      margin-left: 5em;
  }
  .carousel-brand-container {
    margin-left: 2em;
  }
  .carousel-but {
    left: 20em;
  }

  .section_wrapper.mcb-section-inner blockquote {
    top: 17vh;
    left: 45vw;
  }
  .section_wrapper.mcb-section-inner blockquote footer {
    margin-left: 53vw;
  }

  #contactWrapper h3 {
  margin-left: 25vw!important;
  }
  .alert-success {
    margin-left: 4vw;
  }
}


/* MLow-Res*/

@media only screen and (min-width: 1300px) {
  #bPopup {
    top: 12vh;
    left: 5%;
  }

  #bPop-1 .r-box {
    height: 78.4vh;
  }
  #bPop-1 .pad-lbox {
    height: 17vh;
  }

  #bPop-2 .l-box-txt {
    padding-bottom: 2.5em;
  }
  #bPop-2 .r-box {
    height: 37.3em;
  }

  #bPop-4 .l-box-txt {
    padding-bottom: 1.65em;
  }

  #bPop-5 .pad-lbox {
    margin-bottom: -0.2em;
  }

  #bPop-6 .pad-lbox {
    margin-bottom: -0.3em;
  }

  #bPop-7 .pad-lbox {
    margin-bottom: -0.3em;
  }

  #bPop-8 .pad-lbox {
    margin-bottom: -2.7em;
  }
  #bPop-8 .r-box {
    height: 35.35em;
  }

  #bPop-10 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-10 .r-box {
    margin-bottom: 0;
  }

  #bPop-11 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-11 .r-box {
    margin-bottom: 0;
  }

  #bPop-12 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-12 .r-box {
    margin-bottom: 0;
  }

  #bPop-13 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-13 .r-box {
    margin-bottom: 0;
  }

  #bPop-14 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-14 .r-box {
    margin-bottom: 0;
  }

  #bPop-15 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-15 .r-box {
    margin-bottom: 0;
  }

  #bPop-16 .pad-lbox {
    margin-bottom: -2.8em;
  }
  #bPop-16 .r-box {
    margin-bottom: 0;
  }

  #bPop-17 .pad-lbox {
    margin-bottom: -1.2em;
  }
  #bPop-17 .r-box {
    margin-bottom: 0;
  }

  #bPop-19 .pad-lbox {
    margin-bottom: -1.2em;
  }
  #bPop-19 .r-box {
    margin-bottom: 0;
  }

  #bPop-20 .pad-lbox {
    margin-bottom: 2.15em;
  }

  #bPop-21 .pad-lbox {
    margin-bottom: -0.2em;
  }

  #bPop-23 .r-box {
    height: 43.9em;
  }

  #bPop-25 .pad-lbox {
    margin-bottom: -1.1em;
  }
  #bPop-25 .r-box {
    margin-bottom: 0;
  }

  #bPop-26 .l-box-txt {
    height: 15.45em;  
  }

  #bPop-28 .pad-lbox {
    margin-bottom: -2em;
  }
  #bPop-28 .r-box {
    height: 36.1em;
  }

  #bPop-29 .pad-lbox {
    height: 12em;  
  }
  #bPop-29 .r-box {
    height: 37.25em;
  }

  #bPop-30 .pad-lbox {
    height: 12em;  
  }
  #bPop-30 .r-box {
    height: 37.25em;
  }

  #bPop-32 .r-box {
    height: 78.4vh;
  }

  #bPop-33 .r-box {
    height: 71.6vh;
  }

  #bPop-34 .pad-lbox {
    height: 9em;  
  }
  #bPop-34 .r-box {
    height: 34.25em;
  }

  #bPop-35 .pad-lbox {
    height: 12em;  
  }
  #bPop-35 .r-box {
    height: 37.25em;
  }

  #bPop-36 .pad-lbox {
    height: 10em;  
  }
  #bPop-36 .r-box {
    height: 35.25em;
  }

  #bPop-37 .r-box {
    height: 41.3em;
  }

  #bPop-38 .pad-lbox {
    height: 10em;  
  }
  #bPop-38 .r-box {
    height: 35.25em;
  }

  #bPop-39 .r-box {
    height: 74.4vh;
  }

  #bPop-41 .pad-lbox {
    height: 8em;  
  }
  #bPop-41 .r-box {
    height: 33.25em;
  }

  #bPop-42 .pad-lbox {
    height: 10em;  
  }
  #bPop-42 .r-box {
    height: 35.25em;
  }

  #bPop-44 .r-box {
    height: 85.9vh;
  }

  #bPop-45 .pad-lbox {
    height: 20.9vh;  
  }
  
  #bPop-46 .r-box {
      height: 63.1vh;
  }
  #bPop-46 .pad-lbox{
    height: 6.6vh;
  }

  .menu-home {
    margin-left: 11vw;
  }
  .carousel-brand-container {
    margin-left: 11vw;
  }
  .carousel-but {
    left: 32.7vw;
  }
  .slide-but {
    top: 70vh;
  }

  .menu-home ul li:nth-child(2) h4 {
    margin-left: -1.5em;
  }  

  .section_wrapper.mcb-section-inner blockquote {
    top: 21vh;
    left: 44vw;
  }
  .section_wrapper.mcb-section-inner blockquote footer {
    margin-left: 59vw;
  }
  #contactWrapper h3 {
      margin-left: 28vw!important;
  }

}
/* M-High-Res 1440 */
@media only screen and (min-width: 1440px) {
  .slide-but {
    top: 58vh;
  }

  .menu-home {
    margin-left: 10vw;
  }

  .carousel-but {
    left: 31.7vw;
  }

  .section_wrapper.mcb-section-inner blockquote {
    top: 16vh;
    left: 42vw;
  }
  .section_wrapper.mcb-section-inner blockquote footer {
    margin-left: 56vw;
  }
  
  #bPopup {
    top: 16vh;
    left: 8%;
  }

  #bPop-1 .r-box {
    height: 67.5vh;
  }

  #bPop-32 .r-box {
    height: 68.4vh;
  }

  bPop-33 .r-box {
    height: 61.5vh;
  }

  #bPop-39 .r-box {
   height: 64.4vh;
  }

  #bPop-44 .r-box {
    height: 75.9vh;
  }

  #bPop-45 .r-box {
    height: 67.3vh;
  }

  #bPop-46 .r-box {
    height: 53vh;
  }

}

/* High-Res 1920 */
@media only screen and (min-width: 1920px) {
  .slide-txt-top {
    top: 33vh;
  }
  #banner-txt {
    top: 43vh;
  }
  .slide-but {
    top: 57vh;
  }
 
  .menu-home {
    margin-left: 8.5vw;
  }
  .carousel-brand-container {
    margin-left: 8.5vw;
  }
  .carousel-but {
    left: 23.7vw;
  }
  .section_wrapper.mcb-section-inner blockquote {
    top: 15vh;
    left: 31vw;
  }

  .section_wrapper.mcb-section-inner blockquote footer {
    margin-left: 42vw;
  }

  .scale-with-grid[src*="images/home_company_contact1.png"] {
    margin-left: 3vh;
  }
  #contactWrapper h3 {
    margin-left: 20vw!important;
  }
  .alert-success {
    margin-left: 6vw;
  }

  #bPopup {
    top: 25%;
    left: 18%;
  }
  #bPop-20 #bPopup, #bPop-23 #bPopup {
    top: 17%;
    left: 18%;
  }

  #bPop-1 .pad-lbox {
    height: 15.6vh;
  }

  #bPop-24 .l-box-txt {
    height: 25vh;
  }
  #bPop-24 .r-box {
    height: 62.8vh;
  }

  #bPop-32 .pad-lbox {
    height: 16.1vh;
  }

  #bPop-33 .pad-lbox {
    height: 11.1vh;
  }

  #bPop-39 .pad-lbox {
    height: 13.1vh;
  }

  #bPop-44 .pad-lbox {
    height: 21.6vh;
  }

  #bPop-45 .r-box {
    height: 56.8vh;
  }

  #bPop-46 .r-box {
    height: 44.4vh;
  }

}

/* IE 
@media all and (-ms-high-contrast: none), (ms-high-contrast: active) {

  .slide-txt-top {
    top: 20em;
  }
  #banner-txt {
    top: 18em;
  }
  .slide-but {
    top: 35em;
  }
  .slider-container img {
    width: 1500px!important;
  }

  .section_wrapper, .container {
    width: 1220px;
  }
}*/
